<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @complaint.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @complaint.description %>
</p>

<p>
  <strong>Top priority:</strong>
  <%= @complaint.top_priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @complaint.status %>
</p>

<%= link_to 'Edit', edit_complaint_path(@complaint) %> |
<%= link_to 'Back', complaints_path %>
